SETTINGS


[** ▼ 外部リンクマーク] 
code:style.css
 .line a.link:not(.icon)::before { font-family:'FontAwesome'; content: '\f08e  '; display: inline-block }



[** ▼ 画像を小さく表示]  [* [image]]
code:style.css
 span.deco strong.level-1 span.modal-image a img.image{
     height: 5em;
 }



[** ▼ 強調マーカ・小見出し]  [! hoge] [*! hoge] [[hoge]]
code:style.css
  .deco-\! {
    color: #000; /* 黒文字 */
    background-color: #ffff99; /* 黄背景 */
    padding: 0.1em 0.2em 0.1em 0.2em;
  }
  .level-1 .deco-\! {
    color: #fff; /* 白文字 */
    background-color: #ff5470; /* 赤背景 */
    padding: 0.1em 0.2em 0.1em 0.2em;
  }
  
  /* 二重括弧は小見出しにしたい: [[hoge]] */
  .line strong:not([class]) { 
     background-color: #DCEDF7;
     padding: 0.2em 0.5em;
  }



[** ▼ 見出し]  [*# hoge] [**# hoge] ... 
code:style.css
  .level-1 .deco-\# {
      width: 100%;
      margin: 0.25em 0;
      padding: .25em 0 .25em .75em;
      border-left: 5px solid #d9d9d9;
  }
  .level-2 .deco-\# {
    width: 100%;
    margin: 0.25em 0;
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #ceeafc;
  }
  .level-3 .deco-\# {
    width: 100%;
    margin: 0.25em 0;
    padding: .25em 0 .25em .75em;
    border-left: 7px solid #87cefa;
  }
  .level-4 .deco-\# {
    width: 100%;
    margin: 0.25em 0;
    padding: .25em 0 .25em .75em;
    border-left: 8px solid #22a4f5;
  }
  .level-5 .deco-\# {
    width: 100%;
    margin: 0.25em 0;
    padding: .25em 0 .25em .75em;
    border-left: 9px solid #097bc2;
  }
  


[** ▼アイコンを円でくり抜く]  [hoge.icon]
code:style.css
 .icon {
 	border-radius: 50%;
 }



[** ▼チェックボックス]  [_] [x]
code:style.css
  .line:not(.cursor-line) a[href='./_']:not(.icon) span,
  .line:not(.cursor-line) a[href='./x']:not(.icon) span {
    display: inline-block; width: 0; text-indent: -9999px }
  .line:not(.cursor-line) a[href='./_']:not(.icon)::after,
  .line:not(.cursor-line) a[href='./x']:not(.icon)::after {
    display: inline-block; min-width: 1.15em; padding-left: 1px;
    font-family: FontAwesome; font-size: 120%; text-align: center; vertical-align: middle }
  .line:not(.cursor-line) a[href='./_']:not(.icon)::after { content: '\f096'; color: #a9a9a9 }
  .line:not(.cursor-line) a[href='./x']:not(.icon)::after { content: '\f046'; color: #57bf8b }

